@charset "utf-8";
 
label {
    display: inline-block;
    margin-top: -5px;
}

html {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.env {
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 1;
    justify-content: center;
    

}

#app {
    min-width: 720px;
    min-height: 480px;
    background: #f2f2f2;
    outline: 1px solid #999;
    margin: 0 auto;
    color: #1a1a1a;
    font: 12pt 'Lato', sans-serif;
    resize: both;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-margin {
    margin-right: 80px;
    margin-left: 80px;
}

header {
    margin-top: 40px;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0 0;
    font-size: 20pt;
    font-weight: bold;
    display: inline-block
}

h2 {
    margin: 10px 0;
    font-size: 14pt;
}

p {
    margin: 10px 0;
    font-weight: 300;
}

header p {
    display: inline-block;
    margin-left: 1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.app-split {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app-split .left,
.app-split .right {
    display: inline-block;
    width: 50%
}

.view {
}

.view.home {
    margin:
}

.view.home .right {
    padding-left: 80px;
}

.view.done {
    flex-grow: 1;
    background: #fff;
    box-shadow: 0 1px rgba(0,0,0,0.1),
		0 -1px rgba(0,0,0,0.1);
}

.view.done .right {
    box-shadow: -1px 0 rgba(0,0,0,0.1);
}

.tree {
    padding: 15px 20px;
    line-height: 1.8em;
    overflow-y: auto;
}

.tree span {
    display: block;
    margin-left: 20px;
}

.tree .folder {
    margin-left: 0px;
}

.tree .folder::before {
    content: "⯆";
    font-size: 1em;
    padding-right: 8px;
    margin-bottom: -10px;
    display: inline-block;
}

.tree .indent {
    margin-left: 15px;
}

.tree .inactive {
    color: #808080;
    font-style: italic;
}

.tree .new {
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

.flex-row {
    display: flex;
    width: 100%;
    align-items: baseline;
}

.button {
    display: inline-block;
    background: #f9f9f9;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 15px 10px;
    line-height: 20px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25),
                0 2px rgba(0,0,0,0.1);
    color: #1a1a1a;
    text-align: center;
    min-width: 80px;
}

.button + .button {
    margin-left: 20px;
}

.button:not([disabled]):hover {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25),
                0 1px 0 1px rgba(0,0,0,0.25);
}

.button:focus {
    outline: 2px solid #4792F4;
}

.button:active {
    outline: none;
}

.button.active .label.active {
    display: inline-block;
}

.button-arrow::before {
    content: "⯆";
    font-size: 1em;
    padding-right: 12px;
}

.button-file {
    background: #fff;
    text-align: left;
    display: flex;
}

.button-file::after {
    content: "⯆";
    font-size: 16px;
    padding: 0 0 0 12px;
    margin-left: 10px;
    border-left: 1px solid #f2f2f2;
}

.button-file .label {
    display: inline-block;
    flex-grow: 1;
}

.button-file .label.empty {
    font-style: italic;
    color: #b3b3b3;
}

.button-text {
    background: white;
    text-align: left;
    box-shadow: 0 2px rgba(0,0,0,0.1);
    flex-grow: 1;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.button-text:not([disabled]):hover {
    box-shadow: 0 2px rgba(0,0,0,0.25);
}

.button-text::placeholder {
    font-style: italic;
}

.options p {
    line-height: 30px; 
    margin: 15px 0;
}

.options input[type=radio],
.options input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
}

.options input:checked + label {
    font-weight: bold;
}

.options label,
.options strong {
    font-weight: normal;
    margin-right: 15px;
}

.button.highlight {
    background: #1a1a1a;
    color: white;
    font-weight: bold;
    outline-color: #1a1a1a;
}

.button.disabled  {
    opacity: 0.5;
    cursor: default;
}

#app[data-view=date] .button-date,
#app[data-view=action] .button-action {
    background: #dbdbdb;
    outline-color: b3b3b3;
}

.js-allowed, .js-defaults,
#app[data-view=home] .view-home-hide,
#app[data-view=date] .view-date-hide,
#app[data-view=action] .view-action-hide,
#app[data-view=done] .view-done-hide,
#phockup[data-link=true] ~ .env #app .copy-false-hide,
#phockup[data-move=true] ~ .env #app .copy-false-hide,
#phockup[data-move=false] ~ .env #app .move-false-hide,
#phockup[data-link=false] ~ .env #app .link-false-hide,
#phockup:not([data-input=""]) ~ .env #app .input-true-hide,
#phockup[data-input=""] ~ .env #app .input-false-hide,
#phockup:not([data-output=""]) ~ .env #app .output-true-hide,
#phockup[data-output=""] ~ .env #app .output-false-hide,
#phockup:not([data-input=""]):not([data-output=""]) ~ .env #app .inputoutput-true-hide{
    display: none
}

#phockup:not([data-date=""]) ~ #app label[for=date],
#phockup:not([data-regex=""]) ~ #app label[for=regex],
#phockup:not([data-date_fields=""]) ~ #app label[for=date_fields] {
    font-weight: bold;
}


#phockup {
    order: 2;
    font-size: 16px;
    margin: 10px;
    background: black;
    color: white;
    font-family: monospace;
    padding: 10px 15px;  
}

#phockup .output::before {
    content: "$ "
}